.DS_Store
node_modules
.turbo
*.log
coverage
build
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist

# setting folder
.vscode/settings.json
.idea/

# playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
